.bicicletas-lista {
  padding: 60px 0 120px 0;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  max-width: 1400px;
  padding: 0 20px 20px 20px;
  gap: 40px;
  margin: 0 auto;
  overflow-x: auto;
}

#bicicleta .bicicletas-lista ul {
  padding: 0 0 20px 0;
  overflow-x: visible;
}

#bicicleta .bicicletas-lista h2 {
  padding-left: 20px;
}

.bicicletas-lista li {
  flex: 1;
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
  transition: transform 0.25s;
}
@media (prefers-reduced-motion: no-preference) {
  .bicicletas-lista li:hover img {
    transform: translateX(10px);
    box-shadow: -10px 0 var(--color-p1);
  }

  .bicicletas-lista li:hover h3::before {
    width: 24px;
  }
}

.bicicletas-lista h3::before {
  content: "";
  width: 12px;
  height: 8px;
  display: inline-block;
  margin-right: 8px;
  background-color: var(--color-p1);
  transition: width 0.25s;
}

.bicicletas-lista h3 {
  display: flex;
  align-items: center;
  width: max-content;
  margin-bottom: 8px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }

  .bicicletas-lista li:hover img {
    transform: none;
    box-shadow: none;
  }

  .bicicletas-lista li:hover h3::before {
    width: 12px;
  }
}
