.footer-bg {
  background-color: var(--color-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-contact ul {
  margin-bottom: 32px;
}

.footer-contact li:nth-child(even):after {
  content: "";
  max-width: 360px;
  height: 2px;
  display: block;
  background-color: var(--color-11);
  margin-top: 16px;
}

.footer ul a {
  transition: filter 0.25s, transform 0.25s;
}

.footer a:hover {
  color: var(--color-0);
}

.footer-socials {
  display: flex;
  gap: 32px;
}

.socials-icon {
  filter: brightness(0.5);
  transition: filter 0.25s, transform 0.25s;
}

.socials-icon:hover {
  transform: translateY(-5px);
  filter: brightness(1);
}

.footer-copy {
  grid-column: 1 / -1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer > img {
    grid-column: 1/-1;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer > img {
    display: none;
  }

  .footer-socials a {
    filter: none;
  }

  .footer-socials a:hover {
    transform: none;
  }

  .footer-copy {
    margin-top: 0;
  }
}
