.faq {
  padding-top: 120px;
  padding-bottom: 120px;
}

.faq h2 {
  margin-bottom: 60px;
}

.faq dl > div {
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.faq dl > div:nth-child(odd) {
  background-color: var(--color-1);
}

.faq button {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  text-align: left;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.faq button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
}

.faq button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/icones/seta-abrir.svg");
  margin-right: 8px;
  transform: rotate(180deg);
  transition: 0.25s;
}

.faq button[aria-expanded="true"]::after {
  transform: initial;
}

.faq dd {
  display: none;
}

.faq dd.active {
  display: block;
}

.faq dd {
  padding: 16px 0 0 20px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .faq dd {
    max-width: 60ch;
  }
}

@media (max-width: 600px) {
  .faq dd {
    max-width: 45ch;
  }
}
